@model IEnumerable<CursoMOD119.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h2>@SharedLocalizer["Sales"]</h2>

<p>
    <h6 align="right"><a asp-action="Create" class="btn btn-dark">@SharedLocalizer["Create new"]</a></h6>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <partial name="_CRUD_actions" model="item.ID" />
            </td>
        </tr>
}
    </tbody>
</table>



@(
Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(Model => Model.SaleDate).Titled(SharedLocalizer["Sale Date"]);
        columns.Add(Model => Model.Amount);
        columns.Add(Model => Model.Client.Name);
    })
    .Filterable(GridFilterCase.Lower)
    .Using(GridFilterMode.Header)
)