@using CursoMOD119.Lib;
@model PaginatedList<CursoMOD119.Models.Client>

@{
    ViewData["Title"] = "Index";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @SharedLocalizer["Find by name"]:
            <input type="text" name="searchName" value="@ViewData["SearchName"]" />
            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary" /> |
            <a asp-action="Index">@SharedLocalizer["Return to Full List"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["NameSort"]"
                   asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["AgeSort"]"
                   asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Age)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["EmailSort"]"
                   asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Email)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["ActiveSort"]"
                   asp-route-searchName="@ViewData["SearchName"]">@Html.DisplayNameFor(model => model.First().Active)</a>
            </th>
            <th>
                @SharedLocalizer["Actions"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Previous"]</a>
        </li>

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
                <li class="page-item">
                <a asp-action="Index" asp-route-pageNumber="@i" asp-route-searchName="@ViewData["SearchName"]" class="page-link">@i</a>
                </li>
        }

        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Next"]</a>
        </li>
    </ul>
</nav>